* {
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --bg2: #EFEFEF;
  --bg3: #DFDFDF;
  --bg4: #D0D0D0;
  --primary: #4776EF;
  --primary2: #1954EB;
  --primary3: #0F328D;
  --fg: #0F0F0F;
  --fg2: #181818;
  --fg3: #272727;
  --fg4: #303030;
}

[data-theme='dark'] {
  --bg: #0F0F0F;
  --bg2: #181818;
  --bg3: #272727;
  --bg4: #303030;
  --primary: #4776EF;
  --primary2: #1954EB;
  --primary3: #0F328D;
  --fg: #fff;
  --fg2: #EFEFEF;
  --fg3: #DFDFDF;
  --fg4: #D0D0D0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background:var(--bg);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover{
    color: var(--primary2);
  }
}

img {
  max-width: 100%;
  display: block;
}

button {
  display:flex;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  color:var(--primary);
  border: 1px solid var(--primary);
  background:none;
  cursor:pointer;
  &:hover{
    color:var(--primary2);
    border: 1px solid var(--primary2);
  }
  &:active:hover{
    color:var(--primary3);
    border: 1px solid var(--primary3);
  }
  svg {
    padding-right:15px;
  }
  &.primary{
    background: var(--primary);
    color: #fff;
    &:hover{
      color: #fff;
      background: var(--primary2);
    }
    &:active:hover{
      color: #fff;
      background: var(--primary3);
    }
  }
  &.small{
    font-size: 12px;
    padding: 5px 15px;
    svg {
      padding-right:10px;
    }
  }
  
}